<h2 class="p-2 text-center hover" (click)="goToHome()">RxJS Tutor</h2>

<mat-accordion>
  <mat-expansion-panel *ngFor="let group of groupedExamples">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ group.section }}</mat-panel-title>
    </mat-expansion-panel-header>

    <button
      mat-button
      class="w-100"
      (click)="renderExample(example)"
      *ngFor="let example of group.examples"
    >
      {{ example.name }}
    </button>
  </mat-expansion-panel>
</mat-accordion>

<hr />

<button mat-button class="w-100" (click)="goToFAQ()">FAQ</button>

<a
  class="github-fork-ribbon left-bottom fixed"
  href="https://github.com/lgpage/rxtutor"
  target="_blank"
  data-ribbon="Fork me on GitHub"
  title="Fork me on GitHub"
>
  Fork me on GitHub
</a>
