<h2
  role="button"
  tabindex="0"
  aria-label="Go to home page"
  class="p-2 text-center hover"
  (click)="goToHome()"
  (keyup)="goToHome()"
>
  RxJS Tutor
</h2>

<mat-accordion>
  <mat-expansion-panel *ngFor="let group of groupedExamples">
    <mat-expansion-panel-header>
      <mat-panel-title class="fs-6">{{ group.section }}</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-nav-list class="p-0 ms-2">
      <div
        mat-list-item
        role="button"
        tabindex="0"
        (click)="goToExample(example)"
        (keyup)="goToExample(example)"
        *ngFor="let example of group.examples"
      >
        {{ example.name }}
      </div>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>

<button mat-button class="w-100" (click)="goToFAQ()">FAQ</button>

<a
  class="github-fork-ribbon left-bottom fixed"
  href="https://github.com/lgpage/rxtutor"
  target="_blank"
  data-ribbon="Fork me on GitHub"
  title="Fork me on GitHub"
  *ngIf="
    (orientation$ | async) !== 'landscape' || (mediaSize$ | async) !== 'small'
  "
>
  Fork me on GitHub
</a>
