html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hover {
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.04);
  }
}

.github-fork-ribbon.left-bottom:before {
  background-color: rgb(129, 129, 129);
}
