@use "@angular/material" as mat;

@mixin svg-theme($theme) {
  $primary: mat.get-theme-color($theme, primary, default);
  $accent: mat.get-theme-color($theme, accent, default);
  $warn: mat.get-theme-color($theme, warn, default);

  svg.stream {
    g.node {
      > circle {
        &.primary {
          fill: $primary;
        }

        &.accent {
          fill: $accent;
        }
      }

      > line {
        &.complete {
          &.primary {
            stroke: $accent;
          }

          &.accent {
            stroke: $primary;
          }
        }

        &.error {
          stroke: $warn;
        }
      }
    }
  }
}
