<div class="row mt-2" *ngFor="let source of sources$ | async; index as i">
  <div class="col">
    <mat-card class="mat-elevation-z3">
      <app-stream-controller
        [stream]="source"
        [canRemoveSource$]="canRemoveSource$"
        (removeStream)="removeInputStream(i)"
      ></app-stream-controller>
    </mat-card>
  </div>
</div>

<ng-container *ngIf="canAddSource$ | async; else hrule">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <button
        mat-icon-button
        matTooltip="Add input stream"
        aria-label="Add input stream"
        (click)="addInputStream()"
      >
        <mat-icon>add_box</mat-icon>
      </button>
    </div>
  </div>

  <hr class="mt-0" />
</ng-container>

<ng-template #hrule>
  <hr />
</ng-template>

<div class="row">
  <div class="col" *ngIf="output$ | async; else visualize; let output">
    <mat-card class="mat-elevation-z3">
      <app-stream [stream]="output"></app-stream>
    </mat-card>
  </div>

  <ng-template #visualize>
    <div class="col d-flex justify-content-center">
      <button
        mat-raised-button
        color="primary"
        aria-label="Visualize output stream"
        matTooltip="Visualize output stream from code block below"
        (click)="visualizeOutput()"
      >
        Visualize Output Stream
      </button>
    </div>
  </ng-template>
</div>

<hr />

<div class="row mt-2">
  <div class="col">
    <form [formGroup]="formGroup">
      <ngx-codemirror
        [options]="codeMirrorOptions"
        formControlName="code"
      ></ngx-codemirror>
    </form>
  </div>
</div>
