<mat-sidenav-container class="min-vh-100">
  <mat-sidenav mode="side" opened>
    <app-side-nav></app-side-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">
      <mat-toolbar>
        <div><h4>Interactive sandbox for RxJS Observables</h4></div>
        <div class="ms-auto float-end"></div>
        <mat-icon>brightness_5</mat-icon>
        <mat-slide-toggle
          class="mx-1"
          [formControl]="darkModeControl"
        ></mat-slide-toggle>
        <mat-icon>bedtime</mat-icon>
      </mat-toolbar>

      <app-sandbox-controller></app-sandbox-controller>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
