<ng-container *ngIf="mediaSize$ | async; let mediaSize">
  <mat-sidenav-container
    class="min-vh-100"
    [class.is-mobile]="mediaSize === 'small'"
  >
    <mat-sidenav
      #snav
      [mode]="mediaSize === 'small' ? 'over' : 'side'"
      [opened]="mediaSize === 'large'"
      [fixedInViewport]="mediaSize === 'small'"
    >
      <app-side-nav
        (selectedRoute)="mediaSize === 'small' && snav.close()"
      ></app-side-nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar>
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div>
          <h4 *ngIf="mediaSize === 'small'; else longTitle">RxJS sandbox</h4>
          <ng-template #longTitle>
            <h4>Interactive sandbox for RxJS Observables</h4>
          </ng-template>
        </div>
        <div class="ms-auto float-end"></div>
        <mat-icon>brightness_5</mat-icon>
        <mat-slide-toggle
          class="mx-1"
          aria-label="Toggle theme"
          [formControl]="darkModeControl"
        ></mat-slide-toggle>
        <mat-icon>bedtime</mat-icon>
      </mat-toolbar>

      <div class="container-lg">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
