<div class="row">
  <div class="col-10">
    <svg
      #svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 130 20"
      (pointermove)="drag($event)"
      (pointerup)="endDrag()"
      (pointerleave)="endDrag()"
    >
      <defs>
        <marker
          id="arrowhead"
          markerWidth="6"
          markerHeight="4"
          refX="1"
          refY="2"
          orient="auto"
        >
          <polygon points="0 0, 6 2, 0 4" />
        </marker>
      </defs>

      <line
        x1="0"
        y1="10"
        x2="120"
        y2="10"
        stroke="black"
        stroke-width="1"
        marker-end="url(#arrowhead)"
      ></line>

      <line
        [attr.x1]="10 * (i + 1)"
        y1="7"
        [attr.x2]="10 * (i + 1)"
        y2="13"
        stroke="black"
        stroke-width="0.3"
        stroke-dasharray="0.5 0.6"
        *ngFor="let i of range(11)"
      ></line>

      <g
        [attr.transform]="'translate(' + node.x + ', 10)'"
        (pointerdown)="startDrag(node)"
        (pointermove)="drag($event)"
        (pointerup)="endDrag()"
        [class]="nodeClass"
        *ngFor="let node of stream.nodesToRender$ | async"
      >
        <ng-container
          [ngTemplateOutlet]="
            node.type === 'next'
              ? nextNode
              : node.type === 'error'
              ? errorNode
              : completeNode
          "
        ></ng-container>

        <ng-template #completeNode>
          <line
            x1="0"
            y1="-5"
            x2="0"
            y2="5"
            stroke="blue"
            stroke-width="1"
          ></line>
        </ng-template>

        <ng-template #errorNode>
          <line
            x1="-2"
            y1="-5"
            x2="2"
            y2="5"
            stroke="red"
            stroke-width="1"
          ></line>
          <line
            x1="-2"
            y1="5"
            x2="2"
            y2="-5"
            stroke="red"
            stroke-width="1"
          ></line>
        </ng-template>

        <ng-template #nextNode>
          <circle
            r="4.2"
            [attr.fill]="color"
            stroke="black"
            stroke-width="0.3"
          ></circle>
          <text text-anchor="middle" y="1" font-size="3.5px">
            {{ node.text }}
          </text>
        </ng-template>
      </g>
    </svg>
  </div>
  <div class="col-2 align-self-center">
    <button mat-icon-button (click)="copyMarblesToClipboard()">
      <mat-icon
        [matTooltip]="stream.marbles$ | async"
        matTooltipPosition="after"
        matTooltipClass="marbles-tooltip"
      >
        info
      </mat-icon>
    </button>
  </div>
</div>
