<ng-container *ngIf="stream">
  <div class="row">
    <div class="col-12">
      <svg
        #svg
        xmlns="http://www.w3.org/2000/svg"
        class="stream"
        [attr.viewBox]="viewBox!.join(' ')"
        (pointermove)="drag($event)"
        (pointerup)="endDrag()"
        (pointerleave)="endDrag()"
      >
        <defs>
          <marker
            id="arrowhead"
            markerWidth="6"
            markerHeight="4"
            refX="1"
            refY="2"
            orient="auto"
          >
            <polygon points="0 0, 6 2, 0 4" />
          </marker>
          <filter id="shadow">
            <feDropShadow
              dx="0.2"
              dy="0.4"
              stdDeviation="0.2"
              flood-color="black"
            />
          </filter>
        </defs>

        <line
          x1="0"
          [attr.y1]="dy"
          [attr.x2]="streamLine"
          [attr.y2]="dy"
          stroke="black"
          stroke-width="0.5"
          marker-end="url(#arrowhead)"
        ></line>

        <line
          [attr.x1]="dx! * i + offset!"
          [attr.y1]="dy! - 3"
          [attr.x2]="dx! * i + offset!"
          [attr.y2]="dy! + 3"
          stroke="black"
          stroke-width="0.3"
          stroke-dasharray="0.5 0.6"
          *ngFor="let i of range(frames! + 1)"
        ></line>

        <text
          [attr.x]="dx! * i + offset! + dx! / 2"
          [attr.y]="dy! + 3"
          text-anchor="middle"
          font-size="2px"
          *ngFor="let i of range(frames!)"
        >
          {{ i + 1 }}
        </text>

        <g
          [attr.transform]="'translate(' + node.x + ', ' + dy + ')'"
          (pointerdown)="startDrag(node)"
          (pointermove)="drag($event)"
          (pointerup)="endDrag()"
          [class]="nodeClass"
          *ngFor="let node of stream?.nodesToRender$ | async"
        >
          <ng-container
            [ngTemplateOutlet]="
              node.type === 'next'
                ? nextNode
                : node.type === 'error'
                ? errorNode
                : completeNode
            "
          ></ng-container>

          <ng-template #completeNode>
            <line
              x1="0"
              [attr.y1]="-(radius! + 0.5)"
              x2="0"
              [attr.y2]="radius! + 0.5"
              stroke="blue"
              stroke-width="0.5"
              class="complete"
              [ngClass]="color"
            ></line>
          </ng-template>

          <ng-template #errorNode>
            <line
              x1="-2"
              [attr.y1]="-radius!"
              x2="2"
              [attr.y2]="radius"
              stroke="red"
              stroke-width="0.5"
              class="error"
              [ngClass]="color"
            ></line>
            <line
              x1="-2"
              [attr.y1]="radius"
              x2="2"
              [attr.y2]="-radius!"
              stroke="red"
              stroke-width="0.5"
              class="error"
              [ngClass]="color"
            ></line>
          </ng-template>

          <ng-template #nextNode>
            <circle
              style="filter: url(#shadow)"
              [attr.r]="radius"
              [ngClass]="color"
            ></circle>
            <text text-anchor="middle" y="1" font-size="3.5px">
              {{ node.text }}
            </text>
          </ng-template>
        </g>
      </svg>
    </div>
  </div>
</ng-container>
