@import "codemirror/lib/codemirror";
@import "codemirror/theme/material";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.github-fork-ribbon.left-bottom:before {
  background-color: #333;
}
