<app-stream [stream]="stream" class="stream"></app-stream>
<div class="options" *ngIf="(mediaSize$ | async) === 'large'">
  <button
    mat-icon-button
    (click)="copyMarblesToClipboard()"
    aria-label="View marbles"
  >
    <mat-icon
      [matTooltip]="(stream.marbles$ | async)!"
      matTooltipPosition="after"
      matTooltipClass="marbles-tooltip"
    >
      info
    </mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="showOptions()"
    aria-label="View settings"
    *ngIf="hasOptions$ | async"
  >
    <mat-icon>settings</mat-icon>
  </button>
  <button
    mat-icon-button
    color="warn"
    class="remove"
    aria-label="Remove input stream"
    (click)="remove()"
    *ngIf="canRemoveSource$ | async"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
