<app-stream [stream]="stream" class="stream"></app-stream>
<div class="options" *ngIf="(mediaSize$ | async) === 'large'">
  <button
    mat-icon-button
    matTooltipPosition="before"
    matTooltipClass="marbles-tooltip"
    aria-label="View marbles"
    [matTooltip]="(marblesString$ | async)!"
    (click)="copyMarblesToClipboard()"
  >
    <mat-icon>info</mat-icon>
  </button>
  <button
    mat-icon-button
    aria-label="View settings"
    (click)="showOptions()"
    *ngIf="hasOptions$ | async"
  >
    <mat-icon>settings</mat-icon>
  </button>
  <button
    mat-icon-button
    color="warn"
    class="remove"
    aria-label="Remove input stream"
    (click)="remove()"
    *ngIf="canRemoveSource$ | async"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
